*,
::after,
::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh; /* Equivalente a h-screen */
  width: 100%;  /* Equivalente a w-screen */
  background-color: #171717; /* Equivalente a bg-neutral-950 */
  background: radial-gradient(
      ellipse 80% 80% at 50% 30%,
      rgba(57, 54, 207, 0.3),
      rgba(224, 21, 21, 0)
  );
}