/* Ajustes de estilo personalizados */
body {
  padding-top: 56px; /* Asegura que el contenido no quede oculto por la barra superior */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.sidebar {
  position: fixed;
  top: 56px; /* Espaciado para la barra superior */
  bottom: 0;
  left: 0;
  z-index: 1030;
  padding-top: 56px; /* Altura de la barra superior */
  overflow-x: hidden;
  overflow-y: auto; /* Scroll vertical si es necesario */
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px); /* Altura total menos la barra superior */
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scroll vertical si es necesario */
}
