.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(115, 111, 111);
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 1000
}

.header__link{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__img{
    width: 10rem;
    height: 10rem;
}

.header__text{
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.menu{
    width: 30%;
}

.menu_list{
    display: flex;
    justify-content: space-end;
    gap: 1rem;
}

.menu_link{
    font-size: 1.8rem;
    font-weight: 600;
}

.menu_link a{
    color: black;
}