
@import 'root.css';

body {
   /*Ocupa toda la pantalla posible*/
  color: var(--color-negro);
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100vh; /* Ocupa toda la altura de la pantalla */

  }

header{
  background: var(--color-blanco);
  display: flex;
  padding: 0 3%;
  width: auto;
  align-items: center;  
  justify-content: space-between;
  margin: 1rem 3rem;
  border-radius: 9px;
  transition: all .8s ease-out;
}



header .logo{
  color: var(--color-negro);
  font-weight: 800;
  font-size: large;
}

.navbar{
  display: none;
}

.navbar a {
  display: inline-block;
  margin: 0 30px;
  color: var(--color-negro);
  font-size: var(--p-font);
  transition: all .6s;
  font-weight: 600;
}

.navbar a:hover{
  transform: translateY(-5px);
}

.nav-btn {
  display: inline-block;
  background: transparent;
  border-radius: 16px;
  color: var(--color-negro);
  padding: 16px 16px;
  transition: all .6s ease; 
}

.nav-btn:hover {
  transform: translateY(-3px);
  background-color: gray;
}

/* 
 SECTION */

section{
  padding: 32px 9%;
  background: var(--color-blanco);
}

.card {
  border: 0.5rem solid;
  border-color: var(--color-negro);
  height: 30rem;
  width: 500rem;
  border-radius: 16px;
  padding: 9%;
}

.hero {
  position: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text{
  align-items: center;
}

.hero-text span {
  color: var(--main-color);
  padding-left: 20%;
  padding-bottom: 5%;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
  backface-visibility: hidden;
}

.blur{
  box-shadow: 0 0 1000px 50px #6986d6;
  z-index: -100;
}

.hero-text h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--h1-font);
  line-height: 1;
  margin: 0 0 35px;
}

.hero-text p {
  width: 100%;
  max-width: 500px;
  font-size: var(--p-font);
  line-height: 32px;
  margin-bottom: 40px;
}

.hero-img img {
  width: 100%;
  height: auto;
}
