
@import 'root.css';

body {
  color: #fff;
  background: #333;
  height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.header-content{
  display: flex;
  width: auto;
  padding: 16px;
  margin: 1rem 3rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(230, 89, 180);
}

.logo {
  font-weight: 800;
  font-size: large;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
}

section {
  padding: 0 3%;
  margin: 2rem 3rem;
  border-radius: 10px;
  border: 3px solid;
  animation: borderAnimation .9s linear infinite;
}

.grid-content {
  display: grid;
  gap: 40px;
  box-sizing: border-box;
  padding: 10px;
  grid-template-areas: 
    "grid-1 grid-2 "
    "grid-3 grid-4 ";
}


section:hover {
  animation-play-state: paused;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; 
  transition: transform 0.3s ease; 
}

.grid-1:hover,
.grid-2:hover,
.grid-3:hover,
.grid-4:hover {
  border: 3px solid rgb(230, 89, 180);
  transform: scale(1.1); 
}

.grid-1 {
  grid-area: grid-1;
}

.grid-2 {
  grid-area: grid-2;
}

.grid-2 ul {
  list-style-type: none;
  padding: 0;
}

.grid-2 li {
  margin-bottom: 10px;
}

.grid-3 {
  grid-area: grid-3;
}

.grid-3 p {
  margin-bottom: 20px;
}

.grid-3 .nav-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.grid-4 {
  grid-area: grid-4;
}

.grid-4 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

img {
  height: 200px;
  width: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer-item {
  text-align: center;
}

@media (max-width: 400px) {
  body {
    align-items: center;
  }

  .header-content {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px; 
  }

  .nav-btn {
    margin-top: 10px; 
  }
  .footer{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 850px) {
  .grid-content {
    margin: auto;
    grid-template-areas: 
      "grid-1"
      "grid-2"
      "grid-3"
      "grid-4";
  }
}

@keyframes borderAnimation {
  0% {
    border-top-color: rgb(230, 89, 180); /* Color para el borde superior */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(230, 89, 180); /* Color para el borde izquierdo */
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(230, 89, 180); /* Color para el borde inferior */
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: rgb(230, 89, 180); /* Color para el borde derecho */
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-top-color: rgb(230, 89, 180); /* Color para el borde superior */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}