
@import 'root.css';

body {
   /*Ocupa toda la pantalla posible*/
  color: var(--color-blanco);
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: gray;
  }

header{
  background: var(--color-GREEN);
  color: var(--color-blanco);
  display: flex;
  padding: 0 3%;
  width: auto;
  align-items: center;  
  justify-content: space-between;
  margin: 1rem 3rem;
  border-radius: 9px;
}

header .logo{
  color: var(--color-negro);
  font-weight: 800;
  font-size: large;
  text-decoration: none;
}

.navbar{
  display: none;
}

.navbar a {
  display: inline-block;
  margin: 0 30px;
  color: var(--color-negro);
  font-size: var(--p-font);
  transition: all .6s;
  font-weight: 600;
}

.navbar a:hover{
  transform: translateY(-5px);
}

.nav-btn {
  display: inline-block;
  background: transparent;
  border-radius: 16px;
  color: var(--color-negro);
  padding: 16px 16px;
  transition: all .6s ease; 
}

.nav-btn:hover {
  transform: translateY(-3px);
  background-color: var(--color-blanco);
}

/* 
 SECTION */

section {
  padding: 0 3%;
  background: black;
  margin: 2rem;
}


.card {
  border: 10px solid;
  border-color: violet;
}