@import 'root.css';

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro transparente */
  }
  
  .login-page {
    text-align: center;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #1d4ed8;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #1f4ad2;
  }
  
  p {
    margin-top: 15px;
    color: #333;
  }
  