
/* Colores de paleta
https://coolors.co/496ddb-c2eabd-ff9fb2-89daff-58504a
*/

:root {
    --color-GREEN: aqua;
    --color-negro: #101010;
    --color-blanco: #ffffff;
  }

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}