@import 'root.css';

:root {
    --color-negro: #333;
    --color-blanco: #fff;
}

body {
    color: var(--color-blanco);
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: var(--color-negro);
}

header{
    display: flex;
    padding: 30px 3%;
    width: auto;
    align-items: center;  
    justify-content: space-between;
    margin: 1rem 1rem;
    border-bottom: 2px solid var(--color-negro);
}
header .logo{
    color: var(--color-blanco);
    font-weight: 800;
    font-size: large;
    text-decoration: none;
    align-content: center;
}

.banner {
    background:  rgba(230, 89, 180, 0.5);
    padding: 20px;
    text-align: center;
}

.banner h2 {
    color: var(--color-blanco);
}

.contenedor_primario {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
    gap: 30px;
}

.grid-1 {
    padding: 20px;
    height: 200px;
    width: 245px;
    min-width: 160px;
    border: 3px solid rgba(230, 89, 180, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.contendor_secundario {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    align-items: start;
    justify-content: start;
    border: 3px solid rgba(230, 89, 180, 0.5);
    box-shadow: 0 0 5px rgba(230, 89, 180, 0.5);
    max-width: 500px;
    max-height: 450px;
    min-width: 450px;
    min-height: 300px;
    overflow: auto;
}

/*scroll*/
.contendor_secundario::-webkit-scrollbar {
    width: 10px; 
}

.contendor_secundario::-webkit-scrollbar-thumb {
    background-color: rgb(230, 89, 180); 
    border-radius: 5px; 
}

.contendor_secundario::-webkit-scrollbar-track {
    background-color: rgba(230, 89, 180, 0.5);
}

.encuestaForm  {
    width: 100%; 
    margin: 20px auto; 
    max-width: 50rem; 
}

.encuestaForm h1 {
    color: var(--color-blanco);
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-blanco);
}

input,
textarea {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-blanco);
}

.dropzone-box {
    padding-top: 2%;
    color: var(--color-negro);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    width: 100%;
}

.fa-file {
    font-size: 80px;
    margin-bottom: 25px;
}

.dropzone-box h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--color-negro);
    border-radius: 1rem;
    color: var(--color-negro);
}

.dropzone-area:hover {
    color: red;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--color-blanco);
    gap: 1rem;
    flex-wrap: wrap;
}

.dropzone-actions button {
    flex-wrap: 1;
    min-height: 3rem;
    font-size: 1.2rem;
}

.dropzone-actions button[type='reset']{
    background-color: red;
    padding: 0.5rem 1rem;
    color: #fff;
}

/* tabla */
.pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-right: 50px;
}

#documentosTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
}

#documentosTable th, #documentosTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: var(--color-blanco);
}

#documentosTable img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px; 
}

.btn-new {
    color: var(--color-negro);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: var(--color-azul);
    gap: 10px;
}

.btn-new[type="borrar"] {
    background: red;
}

.btn-new[type="view"] {
    background: mistyrose;
}

#openModalBtn {
    align-self: flex-end;
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }
}