@import 'root.css';

body {
    color: var(--color-blanco);
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background: linear-gradient(to bottom, #14ee85, #5786cd, #7cb0aa);
}


header{
    display: flex;
    padding: 10px 3%;
    width: auto;
    align-items: center;  
    justify-content: space-between;
    margin: 1rem 1rem;
    border-bottom: 2px solid var(--color-negro);
}
header .logo{
    color: var(--color-negro);
    font-weight: 800;
    font-size: large;
    text-decoration: none;
    align-content: center;
}


.banner {
    background: #fff;
    padding: 20px;
    text-align: center;
}

.banner h2 {
    color: #333;
}

.contenedor_primario {
    display: flex;
    align-items: center;

}

.contendor_secundario{
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 1rem;
    width: 50rem;
    position: flex;


    border-width: 2px;
    border-style: solid;
    border-color: #333;


    border-radius: 16px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

nav {
    margin-top: 10%;
    margin-left: 5%;
    padding-bottom: 1rem;
    width: 200px;
    position: flex;


    border-width: 2px;
    border-style: solid;
    border-color: #333;


    border-radius: 16px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    width: 200px;
}
nav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    margin-top: 1rem;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #fad390;
    color: #fff;
}

.nav-btn {
    display: inline-block;
    background: var(--color-blanco);
    border-radius: 16px;
    color: var(--color-negro);
    padding: 16px 16px;
    transition: all .6s ease; 
}

.nav-btn:hover {
    transform: translateY(-3px);

    text-decoration-skip-ink: none;
}