*{
    box-sizing: border-box; /*Todo se mantenga del tamano correcto*/
    scroll-behavior: smooth; /*scroll - ameno*/
}

html{
    /*con este font size
    em toma el tamano del elemento padre
    rem = 16px entonces 1 rem, no hereda el tamaño del padre.
    La diferenia que em puede variar*/
    font-size: 62.5%; /*1 rem es 14 pixeles*/
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}



