.sidebar {
    position: relative;
    transition: all .3s ease-in-out;
    flex-shrink: 0;
    background: #333;
    z-index: 12;
    border-radius: 1rem;
    padding: .5rem;

    & .sidebar__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
        height: 100%;
    }

    & .sidebar__element {
        display: flex;
        align-items: center;
        padding: .8rem;
        border-radius: 0.3rem;
        color: #fff;
        width: 100%;

        &::after,
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: rgb(206, 78, 170);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.4s ease;
        }

        &:first-child {
            margin-bottom: 2rem;
            position: relative;
        }

        &:last-child {
            margin-top: auto;
            padding-top: 0.4rem;
            margin-bottom: 2rem;
            position: relative;
        }

        &:not(:first-child):not(:last-child):hover {
            background-color: rgb(206, 78, 170);
        }

        &:first-child:hover,
        &:last-child:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    & .sidebar__icon {
        margin-right: 0.8rem;
    }
}

@media (width < 700px) {
    .sidebar {
        display: none;
    }
}