.sidebar {
    position: relative;
    background: #333;
    height: 100vh;
    flex-shrink: 0;
    z-index: 10;
    border-radius: 1rem;
    padding: 1rem;

    & .sidebar__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
        height: 100%;
    }

    & .sidebar__element {
        display: flex;
        align-items: center;
        padding: .8rem;
        border-radius: 0.3rem;
        color: #fff;
        width: 100%;

        &:first-child {
            margin-bottom: 2rem;
            position: relative;
            &::after {

                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(206, 78, 170);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.4s ease;
            }
        }

        &:last-child {
            margin-top: auto;
            /* Empuja hacia abajo */
            padding-top: 0.4rem;
            margin-bottom: 2rem;
            position: relative;

            &::after {

                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(206, 78, 170);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.4s ease;
            }
        }

        &:not(:first-child):not(:last-child):hover {
            background-color: rgb(206, 78, 170);
        }

        &:first-child:hover {
            &::after {
                transform: scaleX(1);
            }
        }

        &:last-child:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    & .sidebar__icon {
        margin-right: 0.8rem;
    }

    & .sidebar__hide p {
        margin: 0;
    }
}