.zone__container {
    background-color: rgba(183, 28, 28, 0.5); /* bg-red-900 con bg-opacity-50 */
    backdrop-filter: blur(10px); /* backdrop-blur-lg */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* shadow-lg */
    border-radius: 0.75rem; /* rounded-xl */
    padding: 1.5rem; /* p-6 */
    border: 1px solid #c53030; /* border-red-700 */
    margin-bottom: 2rem; /* mb-8 */

    & .zone__header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; /* mb-4 */
        & .zone__icon {
            color: #ff0000; /* text-red-400 */
            margin-right: 0.75rem; /* mr-3 */
        }
        & .zone__title {
            font-size: 1.25rem; /* text-xl */
            font-weight: 600; /* font-semibold */
            color: #f7fafc; /* text-gray-100 */
        }
    }

    & .zone__description {
        color: #e2e8f0; /* text-gray-300 */
        margin-bottom: 1rem; /* mb-4 */
    }

    & .zone__button {
        background-color: #ff0000; /* bg-red-600 */
        border: none;
        color: white; /* text-white */
        font-weight: bold; /* font-bold */
        padding: 0.5rem 1rem; /* py-2 px-4 */
        border-radius: 0.25rem; /* rounded */
        transition: background-color 200ms; /* transition duration-200 */
        
        &:hover {
            background-color: #b83232; /* hover:bg-red-700 */
        }
    }
}