.card {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  padding: 1rem;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  }

  & .card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .card__arrow {
      color: #fff;
    }

    & .card__main {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      & .card__header {
        padding: 0;
        margin: 0;
        display: flex;
        background-color: rgb(99, 98, 98);
        padding: 0.45rem 0.40rem;
        border-radius: 1rem;
      }

      & .card__subheader {
        display: flex;
        flex-direction: column;

        & .card__name {
          font-size: 1rem;
          font-weight: 700;
          color: #fff;
          margin: 0;
        }

        & .card__description {
          margin: 0;
          font-size: 0.875rem;
          font-weight: 500;
          color: #9e9e9e;
        }
      }
    }
  }

  & .card__value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: #f0f0f0;
  }

  & .card__footer {
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}