/* Bloque principal */
.card {
  background-color: #2d2d2d;
  /* bg-gray-800 */

  backdrop-filter: blur(10px);
  /* backdrop-blur-md */
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  /* shadow-lg */
  border-radius: 15px;
  /* rounded-xl */
  border: 1px solid #4b4b4b;
  /* border-gray-700 */
  transition: transform 300ms ease-in-out;
  /* transition-transform duration-300 ease-in-out */
}

.card:hover {
  transform: translateY(-4px);
  /* hover:-translate-y-1 */
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  /* hover:shadow-2xl */
}

/* Elemento: Contenido */
.card__content {
  padding: 1.25rem 1rem;
  /* px-4 py-5 sm:p-6 */
}

/* Elemento: Nombre */
.card__name {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  /* text-sm */
  font-weight: 500;
  /* font-medium */
  color: #9e9e9e;
  /* text-gray-400 */
}

/* Elemento: Valor */
.card__value {
  margin-top: 0.25rem;
  /* mt-1 */
  font-size: 1.875rem;
  /* text-3xl */
  font-weight: 600;
  /* font-semibold */
  color: #f0f0f0;
  /* text-gray-100 */
}